@import "variables";

.f-button {
  font-size: 12px;
  padding: 3px 6px;
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  font-weight: 500;
  border: 1px solid transparent;

  display: flex;
  align-items: flex-start;
  background: transparent;
  margin-right: 10px;
  min-width: auto;

  transition: all $transition;

  &:hover:not(:disabled) {
    border-color: $button-border-color;
  }

  &:disabled {
    background-color: #90a4ae;
  }

  .material-icons {
    font-size: 15px;
  }

  &:hover:not(.no-btn-children) .material-icons {
    margin-right: 3px;
  }

  span {
    overflow: hidden;
    max-width: 0px;

    transition: all ease-in-out 0.1s;
  }

  &:hover span {
    max-width: 50px;
  }

  &.rounded {
    border-radius: 100%;
    width: 26px;
    height: 26px;
    min-width: 0px;
    padding: 0px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;

    .material-icons {
      font-size: 18px;
    }
  }
}

.button-group {
  > .f-button {
    border-radius: 0px;

    &:not(:first-child) {
      border-left-color: $button-border-color;
    }
  }
  > .f-button:first-child {
    border-radius: 3px 0px 0px 3px;
  }
  > .f-button:last-child {
    border-radius: 0px 3px 3px 0px;
    border-left-color: $button-border-color;
  }
}
