@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import "~material-design-icons-iconfont/dist/material-design-icons.css";
@import "variables";

.app {
  width: 100%;
  height: 100%;
}

#root {
  background-color: $bg-color;

  *:not(.material-icons) {
    font-family: "Source Sans Pro", sans-serif;
  }
}

.hide-link {
  text-decoration: none;
}

.input,
.f-form input,
.textarea,
.f-form textarea {
  &,
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"] {
    border: 1px solid #9e9e9e;
    background-color: $input-bg-color;
    padding: 6px;
    border-radius: 2px;
    box-sizing: border-box;

    &:disabled:not(.outlined) {
      border-color: $input-bg-color;
    }
  }
}

.textarea,
.f-form textarea {
  padding: 3px 5px;
  font-size: 14px;
}
