@import "variables";

.p-tutorialview {
  .f-body {
    display: flex;
    flex-direction: row;

    > * {
      height: 100%;
    }
  }

  .sidebar {
    flex: 0 0 225px;

    .fixed-content {
      padding: 0px 10px;
      box-sizing: border-box;
      background-color: #cfd8dc;
      position: fixed;
      top: 50px;
      bottom: 0px;
      width: 225px;
    }

    .title {
      font-size: 16px;
      font-weight: 800;
      margin: 20px 0px;
      color: #263238;
    }

    .part-list > .f-fake-link {
      padding: 5px 10px;
      box-sizing: border-box;
      font-size: 14px;
      color: #37474f;
      text-decoration-color: #b0bec5;
      line-height: 14px;

      transition: all $transition;

      &:hover {
        text-decoration-color: #37474f;
      }
    }
  }

  .part-content,
  .part-media-content {
    flex: 0 1 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .part-content {
    .part-title {
      font-size: 24px;
      font-weight: 800;
      margin: 10px 0px;
    }
  }

  .part-media-content {
    .media.image {
      max-width: 80%;
    }
  }
}
