@import "@style/variables";

.f-signin-title {
  display: flex;

  .f-fake-link {
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 3px;

    &.selected {
      background-color: #e0e0e0;
    }
  }

  .separator {
    height: auto;
    margin: 0px 6px;
  }
}

.form-login,
.form-signup {
  .error {
    font-size: 12px;
    color: darken($color-error, 20%);
  }
}
