.f-modal-login {
  width: 400px;
  height: 250px;

  .form-login,
  .form-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;

    > * {
      flex: 0 1 auto;
    }
  }
  label {
    font-size: 12px;
  }
}
