@import "@style/mixins";

.f-post-content,
.f-post-editor {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;

  .btn-close {
    margin: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
  }

  .container,
  .f-form {
    padding-top: 34px;
    box-sizing: border-box;
    overflow: auto;

    > *:last-child {
      margin-bottom: 25%;
    }
  }

  .title,
  .body,
  .date,
  .actions {
    margin: 10px auto;
    max-width: 500px;
    font-family: "Baloo Thambi 2", cursive !important;
    padding: 0px 20px;
  }

  .title {
    line-height: 20px;
    margin-bottom: 0px;
  }

  .date {
    margin-top: 0px;
    margin-bottom: 5px;
    font-style: italic;
    font-size: 12px;
  }

  .actions {
    display: flex;
  }

  .image {
    position: relative;

    img {
      display: inherit;
    }

    .caption {
      font-family: "Baloo Thambi 2", cursive !important;
      line-height: 14px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      margin: 2px;
      padding: 4px;
      font-weight: bold;
      border-radius: 2px;
      font-size: 14px;
    }
  }

  .title {
    font-weight: 600;
    font-size: 26px;
  }
}

.f-post-editor {
  flex: 0 1 100%;

  .f-form {
    max-width: 500px;
    margin: 0px auto;
    width: 100%;

    > * {
      padding: 0px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 15%;
      }
    }

    .f-body-edit {
      width: 100%;

      &,
      textarea {
        min-height: 250px;
      }

      .body {
        font-family: "Baloo Thambi 2", cursive !important;
      }
    }
  }
}
